@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3 "Playfair Display", serif;

  background-color: #fff799;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.main-header {
  background-color: #cf9494;
}

.logo-icon {
  margin: 1rem;
}

.logo-icon-left {
  display: inline-block;
  float: left;
  width: 40%;
}

.logo-icon-right {
  display: inline-block;
  float: right;
  width: 40%;
}

header nav {
  overflow: hidden;

  border-width: 3px;
  border-style: solid;
  border-color: #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

header h1 {
  font-family: "Abril Fatface", cursive;
  padding-bottom: 1rem;
  text-align: center;
  margin: 0;
}

ol {
  margin: 0;
  padding: 0;
}

header li {
  list-style-type: none;
  background-color: #c69c6d;
  text-align: center;

  display: inline-block;
  float: left;
  width: 50%;

  padding: 1rem;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

nav li:hover {
  background-color: #543518;
}

nav a:hover {
  color: #fff;
}

.story-section {
  overflow: hidden;

  border-bottom: none;
}

section {
  padding-bottom: .5rem;

  border-width: 3px;
  border-style: solid;
  border-color: #000;
  border-left: none;
  border-right: none;
}

h2 {
  font-family: "Poiret One";
  text-align: center;
  margin: 0;
  margin-top: .5rem;
}

p {
  display: inline-block;
  float: left;
  margin: 0;
  margin: .5rem;
}

.story-icon {
  display: inline-block;
  float: right;
  width: 33.3333%;
}

.cause-section {
  overflow: hidden;
  border-bottom: none;
}

.cause-icon {
  float: left;
  width: 25%;
}

.menu-section {
  overflow: hidden;
  border-bottom: none;
}

.menu-icon {
  width: 20%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.menu-food {
  display: inline-block;
  width: 65%;
  font-size: 80%;
  vertical-align: top;
}

.food {
  margin: 0;
}

.menu-whole {
  margin-top: 1rem;
}

h3 {
  font-weight: bold;
  margin: 0;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
}

footer {
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .25rem;
  background-color: #c69c6d;
  font-size: 70%;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  p {
    margin: 1rem;
  }

  .menu-food {
    width: 70%;
  }

  .menu-icon {
    margin-left: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }

  h3 {
    margin-top: .5rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .logo-icon {
    width: 30%;
  }

  header li {
    width: 25%;
  }

  nav {
    clear: both;
  }

  .main-header {
    overflow: hidden;
  }

  h1 {
    padding-top: 3rem;
  }

  .menu-food {
    font-size: 100%;
  }

  .story-icon {
    width: 30%;
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .last-icon {
    margin-right: .75rem;
  }

  figcaption {
    position: absolute;
    left: 7rem;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, .3);
    border-radius: .8rem;
    padding: .5rem;
    color: white;
  }

  figure {
    position: relative;
    overflow: hidden;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .logo-icon {
    width: 20%;
  }

  .logo-icon-left {
    margin-left: 5rem;
  }

  .logo-icon-right {
    margin-right: 5rem;
  }

  h1 {
    padding-top: 4rem;
  }

  p {
    margin: 1rem 5rem;
  }

  .menu-food {
    font-size: 100%;
  }

  .story-icon {
    float: none;
    display: inline-block;
  }

  .story-icon-photo {
    text-align: center;
  }

  .cause-icon {
    width: 23%;
    margin-right: .5rem;
    float: none;
    display: inline-block;
  }

  .cause-icon-photo {
    text-align: center;
  }

  .menu-icon {
    margin-left: 4rem;
    margin-right: 1rem;
  }

  .menu-food {
    width: 60%;
  }

}
