@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font: normal 100%/1.3 "Playfair Display", serif;

  background-color: #fff799;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.main-header {
  background-color: #cf9494;
}

.logo-icon {
  margin: 1rem;
}

.logo-icon-left {
  display: inline-block;
  float: left;
  width: 40%;
}

.logo-icon-right {
  display: inline-block;
  float: right;
  width: 40%;
}

header nav {
  overflow: hidden;

  border-width: 3px;
  border-style: solid;
  border-color: #000;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

header h1 {
  font-family: "Abril Fatface", cursive;
  padding-bottom: 1rem;
  text-align: center;
  margin: 0;
}

ol {
  margin: 0;
  padding: 0;
}

header li {
  list-style-type: none;
  background-color: #c69c6d;
  text-align: center;

  display: inline-block;
  float: left;
  width: 50%;

  padding: 1rem;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

nav li:hover {
  background-color: #543518;
}

nav a:hover {
  color: #fff;
}

.story-section {
  overflow: hidden;

  border-bottom: none;
}

section {
  padding-top: .5rem;
  padding-bottom: 1.5rem;

  border-width: 3px;
  border-style: solid;
  border-color: #000;
  border-left: none;
  border-right: none;
}

.location-section {
  padding-bottom: 0;
}

h2 {
  font-family: "Poiret One";
  text-align: center;
  margin: 0;
  margin-top: .5rem;
}

p {
  display: inline-block;
  float: left;
  margin: 0;
  margin: 1rem;
  margin-bottom: 2rem;
}

.story-icon {
  display: inline-block;
  width: 32%;
}

.story-icon-photo {
  text-align: center;
}

.cause-section {
  overflow: hidden;
  border-bottom: none;
}

.cause-icon {
  display: inline-block;
  width: 24%;
}

.cause-icon-photo {
  text-align: center;
}

.menu-section {
  overflow: hidden;
  border-bottom: none;
  margin-bottom: 1rem;
}

.menu-icon {
  width: 20%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.menu-food {
  display: inline-block;
  width: 65%;
  font-size: 80%;
  vertical-align: top;
  background-color: rgba(189, 140, 191, .7);
  border-radius: .8rem;
  padding: .5rem;
}

.food {
  margin: 0;
}

.menu-whole {
  margin-top: 2rem;
}

h3 {
  font-weight: bold;
  margin: 0;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #6a2f7d;
}

footer {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  background-color: #c69c6d;
  font-size: 70%;
}

.food-tag:hover {
  color: #fff799;
}
@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  p {
    margin: 2rem;
  }

  .story-section {
    margin-bottom: 1.5em;
    padding-top: 1.5em;
  }

  .story-icon {
    width: 27%;
  }

  .cause-section {
    margin-bottom: 1.5em;
    padding-top: 1.5em;
  }

  .cause-icon {
    width: 20%;
  }

  .menu-section {
    margin-bottom: 1.5em;
    padding-top: 1.5em;
  }

  .menu-food {
    width: 65%;
  }

  .menu-icon {
    margin-left: 1.5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }

  .location-section {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
  }

  .location-icon {
    padding-top: 1rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .logo-icon {
    width: 30%;
  }

  header li {
    width: 25%;
  }

  nav {
    clear: both;
  }

  .main-header {
    overflow: hidden;
  }

  h1 {
    padding-top: 3rem;
  }

  .menu-food {
    font-size: 100%;
    width: 63%;
  }

  .story-icon {
    width: 26.5%;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .6rem;
  }

  .cause-icon {
    width: 21%;
    margin-top: .6rem;
  }

  .menu-icon {
    margin-left: 2.5rem;
  }

  figcaption {
    bottom: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .3);
    border-radius: .8rem;
    padding: .5rem;
  }

  a {
    color: white;
  }

  figure {
    position: relative;
    overflow: hidden;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .logo-icon {
    width: 20%;
  }

  .logo-icon-left {
    margin-left: 5rem;
  }

  .logo-icon-right {
    margin-right: 5rem;
  }

  h1 {
    padding-top: 4rem;
  }

  p {
    margin: 1rem 5rem;
  }

  .menu-food {
    font-size: 100%;
    width: 60%;
  }

  .story-icon {
    margin-top: 2rem;
    width: 20%;
    float: none;
    display: inline-block;
  }

  .story-icon-photo {
    text-align: center;
  }

  .cause-icon {
    width: 15%;
    margin-right: .5rem;
    margin-top: 2rem;
    float: none;
    display: inline-block;
  }

  .cause-icon-photo {
    text-align: center;
  }

  .menu-icon {
    width: 12%;
    margin-left: 6.25rem;
    margin-right: 1rem;
  }

  .location-icon {
    width: 88%;
    margin: 0 auto;
  }

  figcaption {
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .logo-icon {
    width: 15%;
  }

  .logo-icon-left {
    margin-left: 10rem;
  }

  .logo-icon-right {
    margin-right: 10rem;
  }

  h1 {
    padding-top: 4rem;
    font-size: 300%;
  }

  p {
    margin: 1rem 15rem;
  }

  .story-icon {
    width: 15%;
  }

  .cause-icon {
    width: 12%;
  }

  .menu-icon {
    width: 8%;
    margin-left: 15rem;
  }

  .menu-food {
    width: 45%;
  }

  .location-icon {
    width: 65%;
    margin: 0 auto;
  }

  figcaption {
    font-size: 130%;
  }

}

@media only screen and (min-width: 156em) {

  html {
    font-size: 170%;
  }

  .logo-icon {
    width: 15%;
  }

  .logo-icon-left {
    margin-left: 18rem;
  }

  .logo-icon-right {
    margin-right: 18rem;
  }

  h1 {
    padding-top: 5.5rem;
  }

  p {
    margin-left: 24rem;
    margin-right: 24rem;
  }

  .story-icon {
    width: 12%;
  }

  .cause-icon {
    width: 10%;
  }

  .menu-icon {
    width: 7.5%;
    margin-left: 27rem;
  }

  .menu-food {
    width: 30%;
  }

  .location-icon {
    width: 47%;
  }

}

@media only screen and (min-width: 250em) {

  html {
    font-size: 250%;
  }

  h1 {
    padding-top: 4rem;
  }

  .logo-icon {
    width: 10%;
  }

  .logo-icon-left {
    margin-left: 20rem;
  }

  .logo-icon-right {
    margin-right: 20rem;
  }

  p {
    margin-left: 27rem;
    margin-right: 27rem;
  }

  .story-icon {
    width: 10%;
  }

  .cause-icon {
    width: 8.5%;
  }

  .menu-icon {
    width: 6%;
    margin-left: 33rem;
  }

  .menu-food {
    width: 25%;
  }

  .location-icon {
    width: 42%;
  }

}
